@use "../abstracts/variables" as *;

/* html */
html {
  font-size: 62.5%; // 1rem = 10px
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

/* body */
body {
  margin: 0;
  font-family: $font-jp-base;
  font-size: $fs-base; // 本文（base）
  line-height: 1.7;
  color: $color-text;
  background-color: $color-white;
  word-break: break-word;
  overflow-y: scroll;
}

html,
body {
  height: 100vh;
  margin: 0;
}

/* image */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* link */
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* list */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* paragraph */
p {
  margin: 0;
  color: $color-text;
  line-height: 1.4;
}

/* =========================================
   Heading
   ========================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1.4;
  color: $color-main;
}

.container__inner {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
