@use "../abstracts/variables" as *;

.footer {
    &__container {
        text-align: center;
    }
    &__text {
        padding: 4rem 0 6rem;
        font-weight: 500;
        font-size: $fs-xxx;
        color: $color-copyright;
    }
}
