@use "../abstracts/variables" as *;
section {
  padding: 6rem 0;
}
.content {
  &__title {
    margin: 0 0 3rem;
    &--en {
      font-size: $fs-xl;
      font-weight: 700;
      line-height: 1.4;
      color: $color-corporate;
      font-family: $font-en;
      display: block;
      text-align: center;
    }
    &--ja {
      font-weight: 700;
      line-height: 1.4;
      color: $color-corporate;
      font-family: $font-jp-base;
      display: block;
      text-align: center;
    }
  }
}
/* caption text 13px以下の注意書きテキスト*/
.cap {
  font-size: $fs-base;
  font-weight: 500;
  text-align: center;
  color: $color-subheading;
  &--xxs {
    font-size: $fs-xxs;
    padding-left: 1.3em;
    text-indent: -1.3em;
  }
  &--xxxs {
    font-size: $fs-xxxs;
  }
}

/* newtab button ボタンリンクのスタイル*/
.btn--new-tab {
  border: 1px solid $color-border;
  border-radius: 0.4rem;
  padding: 1rem 1.5rem;
  font-size: $fs-base;
  font-weight: 700;
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  gap: 0.5rem;
}
